/*Add CSS styles here*/

.map {
    border: medium solid rgb(0, 195, 209);
}

.countries {
    fill: #fff;
    stroke: #CCC;
    stroke-width: 2px;
}

/*Example 2.7*/
.gratLines {
    fill: none;
    /*stroke: #999;
    stroke-width: 1px;*/
}

.gratBackground {
    fill: #9ff5ff;
}

